//COLORS
$clr-black: #373645;
$clr-black-hvr: #666573;
$clr-gray: #cccccc;
$clr-blue: #6e9bca;
$clr-blue-hvr: #5ea8f5;
$clr-white: #ffffff;
$clr-darkblue-footer: #373645;
//OTHER
$font-sans-serif: 'Open Sans', sans-serif;

